* {
	margin: 0;
	padding: 0;
}

.navigation {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center; 
	
	height: 50px;	
	list-style: none;
	margin: 0; 
	background: deepskyblue;
}
.navigation li {
	flex-grow: 1;
}
.navigation a {
	text-decoration: none;
 	display: block;
	padding: 1em; 
	color: white;
	align-self: stretch;
	text-align: center;

}
.navigation li:hover {
	background: grey;
}

.form {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row nowrap;
}
.form div {
	margin: 5px;
	padding: 5px;
	border: 1px dotted black;
	border-radius: 5px;
	flex-grow: 1;
}

.form :last-child {
	flex-grow: 5;
}
textarea {
	width: 100%;
	min-height: 100px;
}
.car {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row-reverse nowrap;
	height: 500px;
}
img {
	width: 300px;
	height: 250px;
	align-self: flex-end;
}